body{
    opacity: 1;
    
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
	
	letter-spacing: 0.5px;
	line-height: 1.5;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    overflow: hidden;
}

.button{
    font-size: 20px;
    font-style: helvetica;
    letter-spacing: 1.5px;
    padding: 12px 35px;
    font-weight: 700;
    display: inline-block;
    color: black;
    background-color: darkcyan;
    border: 2px solid white;
    border-radius: 4px;
}
.button:hover{
    background-color:blue; 

}