body{
    opacity: 1;
    background-image: url("mh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	letter-spacing: 0.5px;
	line-height: 1.5;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    overflow: hidden;
}
p{
    font-family: Verdana;
    color: black;
    font-size: 30px;
}
h1{
    font-size: 50px;
    color: black;
    text-align: center;
}
div {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }

.slider{
    font-style: Arial;
    text-align: center;
    display:inline;
    overflow:hidden;
    white-space:nowrap;
    margin-top: 15%;
    display: block;
}
.showup{
    color: black;
    animation: showup 7s infinite;
}
.reveal{
    width: 0px;
    color: black;
    animation: reveal 7s infinite;
}
.reveal span{
    margin-left: -355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {

    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}
a{
    text-decoration: none;
}
.button{
    font-size: 20px;
    font-style: helvetica;
    letter-spacing: 1.5px;
    padding: 12px 35px;
    font-weight: 700;
    display: inline-block;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 4px;
}
.button:hover{
    background-color:grey; 

}