body{
    background: url(13.jpg);
}
h1{ opacity: 1;
    text-align: center;
    letter-spacing: 10px;
    margin: 100px 0;
}
.form
{  background: white;
   opacity: 0.5;
    z-index: 100;
    border: 1px solid black;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
input
{    
    background-color: black;
    color: white;
    
    font-size: 20px;
    font-family: verdana;
    border-radius: 11px;
    display: block;
    margin: 20px 0;
    width: 300px;
    padding: 10px;   
}
input:focus{
    
    background: black;
}
label
{
    font-size: 30px;
    opacity: 1;
   
}
button
{
    opacity: 1;
    font-size: 20px;
    background: crimson;
    color: white;
    border: none;
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
}
button:hover{
    background-color: black;
}