body{
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
background-image: url(18.jpg);
    font-family: 'Open Sans', sans-serif;
	
	letter-spacing: 0.5px;
	line-height: 1.5;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
 
}
.disp{
    
     border-radius: 20px;
	font-family: 'Verdana', sans-serif;
	font-weight: 700;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 20px;
    margin-top: 10%;
    height: 100%%;
    background:radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,197,118,1) 0%, rgba(254,106,103,1) 47.7%, rgba(240,23,23,1) 92.3% );
    z-index: 1000;
    opacity: 0.58;
}
.adjust{
    margin-left: 25px;
    margin-bottom: 25px;
}


.button{
    font-size: 20px;
    font-style: helvetica;
    letter-spacing: 1.5px;
    padding: 12px 35px;
    font-weight: 700;
    display: inline-block;
    color: black;
    background: transparent;
    border: 3px solid black;
    border-radius: 4px;
}
.button:hover{
    
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(67,144,233,1) 0%, rgba(78,226,198,1) 90.1% );

}